body{
	background-color: rgb(235, 240, 176 ,0.3);
	margin: 1em;
	padding: 1em;
}

header{
	text-align: center;
	font-style: normal;
	font-size: 500%;
	padding-top: 7%;
	padding-bottom: 7%;
	background-image: url(../imgs/cover.jpg);
	background-size: cover;
	color: rgb(203, 246, 246 );   
	-webkit-background-repeat: no-repeat; 
	-moz-background-repeat: no-repeat;
	-o-	background-repeat: no-repeat;
	-ms-background-repeat: no-repeat;
	background-repeat: no-repeat;
}

footer{
	text-align: center;
	padding-bottom: 0%;
	padding-top: 1%;
}

img{
	width: 100%;
	height: 100%;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

section{
	margin-top: 3%;
	margin-bottom: 5%;
	padding: 3%;
	text-align: center;
}

.nature{
	background-color: rgb(242, 79, 242 ,0.3);
}

.foods{
	background-color: rgb(37, 12, 109 , 0.3);
}

.animals{
	background-color: rgb(8, 98, 32 , 0.4);
}

a{
  color: black;
  text-decoration: none;
  font-size: 120%;
}

nav{
	margin-top: 1em;
}

.topic{
	font-size: 250%;
	text-align: center;
	margin-bottom: 2%;
	padding-bottom: 2%;
}

.divider{
	margin-top: 2em;
	padding-top: 1em;
}